<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.demovnpt.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.demovnpt.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.demovnpt.app.modules.ngnhp.ui.NgNhPActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.demovnpt.app.modules.giaodinnhnvin.ui.GiaoDiNNhNViNActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.thngtinquntrvin.ui.ThNgTinQuNTrViNActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.xembnhngcanhnvin.ui.XemBNHNgCANhNViNActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.giaodinquntr.ui.GiaoDiNQuNTrActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.qunlbnhngsimding.ui.QuNLBNHNgSimDiNgActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.thngtinnhnvin.ui.ThNgTinNhNViNActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.xemqunlbnhng.ui.XemQuNLBNHNgActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.demovnpt.app.modules.nhpqunlbnhng.ui.NhPQuNLBNHNgActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
